@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Lato&display=swap');

body {
    background-image: url("../img/bg.png");
    background-color: #1e4779;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    background-attachment: fixed;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    border-top: none;
    border-bottom: 1px solid #ffffff;
}

#logo {
    margin: 65px auto auto;
    width: 75%
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
}

#tag {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#script {
    margin: 20px auto 20px auto;
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    padding: 10px;
    box-shadow: 3px 3px #000000;
}

#help {
    margin: 20px auto auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    padding: 10px;
    box-shadow: 3px 3px #000000;
}

#help pre {
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    font-size: smaller;
    margin: auto;
    width: 50%;
}

.action {
    text-align: center;
    font-weight: bold;
}

.github {
    margin-top: 40px;
    text-align: center;
}

.footer {
    margin: 35px auto auto;
    width: 75%;
    font-weight: lighter;
    font-size: smaller;
    text-align: right;
    padding-bottom: 15px;
}